<div class="half-jumbo">
    <h1><%= meta.name %></h1>
</div>
<section class="info-bar">
    <div class="info-content">
        <h2><%= meta.title %></h2>
        <div class="content">
            <%- body %>
        </div>
    </div>
    <aside>
        <img src="<%= meta.image %>" alt="<%= meta.name %> profile photo" />
    </aside>
</section>
<section>
    <!-- TODO: add in sermons from person -->
</section>
<section>
    <!-- TODO: add in blog posts from person -->
</section>
